/* container */
.container {
    width: 414px;
    margin: 0 auto;
    overflow: hidden;
}
/* mediaquery */
@media (min-width: 250px) and (max-width: 420px){
    .container {width: 100%;}
}
/*row*/
.row{
    position: relative;
    width: calc(100% -40px);
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #EBEBEB;
    margin: 0px 20px;
}

.title-name{
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -1.6px;
    line-height: 20px; /* 90.909% */
}

/* recentM */
.recentM-title {
    padding-bottom: 10px;
}
.recentM-contents-wrap {
    width: 100vw;
    display: flex;
    overflow-x: scroll;
    cursor: grab;
}
.recentM-contents-wrap.active {
    cursor: grabbing;
}
.recentM-contents-wrap .recentM-content {
    width: 182px;
    padding-right: 5px;
}
.recentM-contents-wrap .recentM-content .recentM-content-name {
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -1px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.recentM-contents-wrap .recentM-content .recentM-content-descrip {
    color: #908F84;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 133.333% */
    letter-spacing: -1px;
}

.nextM-wrap {
    display: flex;
    padding-top: 10px;
    width: 100vw;
}

.nextM-wrap .nextM-wrap-L {
}
.nextM-contents-wrap {
    display: flex;
    padding-bottom: 10px;
    width: 374px;
}
.nextM-contents-wrap .nextM-content-wrap-L {
    width: 100px;
    height: 100px;
    padding-right: 5px;
}
.nextM-contents-wrap .nextM-content-wrap-L > picture {
    display: block;
    width: 90px;
    height: 90px;
}
.nextM-contents-wrap .nextM-content-wrap-R {
    padding: 10px 10px 15px 5px;
    border-bottom: #EBEBEB solid 1px;
}
.nextM-contents-wrap .nextM-content-wrap-R > span {
    color: #DA5E7C;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 166.667% */
    letter-spacing: -0.24px;
    padding-bottom: 5px;
}
.nextM-contents-wrap .nextM-content-wrap-R > h2 {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    letter-spacing: -0.24px;
    padding-bottom: 5px;
}
.nextM-contents-wrap .nextM-content-wrap-R > p {
    color: #A1A1A3;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px; /* 83.333% */
    letter-spacing: -0.14px;
    padding-bottom: 5px;
}

.nextM-wrap .nextM-wrap-R {}