/* container */
.container {
    width: 1000px;
    margin: 0 auto;
    background: #999;
}

/*row*/
.row{
    position: relative;
    margin: 15px 20px;
    background: #888;
    display: inline-block;
}

/* header */
#header {
    height: 62px;
    background-color: #777;
}
#header .header-time {
    color: #A8A8A8;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -0.24px;
}

#header .header-title {
    color: #000;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -0.24px;
}

#header .header-id {
    width: 35px;
    height: 35px;
    background: linear-gradient(334deg, rgba(164, 169, 181, 0.00) 8.36%, #A4A9B5 91.64%), rgba(196, 196, 196, 0.70);;
}


