/* container */
.container {
    width: 414px;
    margin: 0 auto;
    overflow: hidden;
}
/* mediaquery */
@media (min-width: 250px) and (max-width: 420px){
    .container {width: 100%;}
}
/*row*/
.row{
    position: relative;
    width: calc(100% -40px);
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #EBEBEB;
    margin: 0px 20px;

}

.title-name{
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -1.6px;
    line-height: 20px; /* 90.909% */
}


/* header */
#header {
}
#header .header-time {
    color: #A8A8A8;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -0.24px;
}

#header .header-title {
    position: relative;
    color: #000;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -0.24px;
}

#header .header-id {
    position: absolute; right: 0px; top: 50%; transform: translateY(-50%);
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: linear-gradient(334deg, rgba(164, 169, 181, 0.00) 8.36%, rgba(164, 169, 181, 0.70) 91.64%);
}

/* main */
/* bestM */
.bestM {}
.bestM .container {}
.bestM .container .row {}
.bestM .container .row .best{}
.bestM .container .row .best .best-title .best-title-title{
    color: #DA5E7C;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; 
    letter-spacing: -0.24px;
    padding-bottom: 5px;
}
.bestM .container .row .best .best-title .best-title-name{
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -1.6px;
    line-height: 20px; /* 90.909% */
    padding-bottom: 5px;
}
.bestM .container .row .best .best-title .best-title-decrip{
    color: #818181;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: -0.7px;
    padding-bottom: 10px;
}

/* recentM */
.recentM-title {
    padding-bottom: 10px;
}
.recentM-contents-wrap {
    width: 100vw;
    display: flex;
}
.recentM-contents-wrap .recentM-content {
    width: 182px;
    padding-right: 5px;
}
.recentM-contents-wrap .recentM-content .recentM-content-name {
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -1px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.recentM-contents-wrap .recentM-content .recentM-content-descrip {
    color: #908F84;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 133.333% */
    letter-spacing: -1px;
}



.title-name {}

.nextM-wrap {
    display: flex;
    width: 100vw;
}

.nextM-wrap .nextM-wrap-L {}
.nextM-contents-wrap {
    display: flex;
    padding-bottom: 10px;
}
.nextM-contents-wrap .nextM-content-wrap-L {
    width: 100px;
    height: 100px;
}
.nextM-contents-wrap .nextM-content-wrap-L picture {
    display: block;
    width: 100px;
    height: 100px;
}
.nextM-contents-wrap .nextM-content-wrap-R {
    display: block;
}
.nextM-contents-wrap .nextM-content-wrap-R > span {}
.nextM-contents-wrap .nextM-content-wrap-R > h2 {}
.nextM-contents-wrap .nextM-content-wrap-R > p {}

.nextM-wrap .nextM-wrap-R {}